# Build results
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# NuGet
*.nupkg
*.snupkg
packages/
*.nuspec

# Logs
*.log
[Ll]ogs/

# Temporary files
*.tmp
*.temp
*.cache
*.dbmdl
*.pdb

# Rider / ReSharper
.idea/
_ReSharper*/
*.DotSettings.user
