@page
@model CourseManagement.Areas.Identity.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Đăng nhập";
}
<h1>Đăng nhập</h1>
<form method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="alert alert-danger" role="alert"></div>

    <div class="mb-3">
        <label asp-for="Input.Email" class="form-label">Email</label>
        <input asp-for="Input.Email" class="form-control" placeholder="your@school.edu" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Password" class="form-label">Mật khẩu</label>
        <input asp-for="Input.Password" type="password" class="form-control" placeholder="Mật khẩu" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="mb-3 form-check">
        <input asp-for="Input.RememberMe" class="form-check-input" />
        <label asp-for="Input.RememberMe" class="form-check-label">Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>

<p>
    <a asp-page="/Account/Register">Đăng ký</a>
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}