@model CourseManagement.Models.ClassRoom

<h1>Tạo mới khóa học</h1>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label class="form-label">Tên khóa học</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Mô tả (tuỳ chọn)</label>
        <textarea id="descriptionEditor" asp-for="Description" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Tạo khóa học</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        CKEDITOR.replace('descriptionEditor', {
            filebrowserBrowseUrl: '/ckfinder/ckfinder/ckfinder.html',
            filebrowserImageBrowseUrl: '/ckfinder/ckfinder/ckfinder.html?type=Images',
            filebrowserUploadUrl: '/ckfinder/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Files',
            filebrowserImageUploadUrl: '/ckfinder/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images',
            height: 250
        });
    </script>
}